.pagination {
  margin: 16px 0 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  button {
    padding: 5px 10px;
    text-align: center;
    border: none;
    background-color: var(--black100);
    border-radius: 10px;
    cursor: pointer;
    color: var(--gray200);
    font: var(--textL);
    width: 30px;
    height: 30px;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
      color: var(--gray200);
    }
    &.active {
      background-color: var(--brandOrange);
      color: var(--white);
    }
  }
}
