.roundButton {
  background-color: var(--black100);
  color: var(--gray200);
  font: var(--textSb);
  border-radius: 50px;
  padding: 13px 48px;
  border: none;
}

.restartButton {
  background-color: var(--black100);
  color: var(--gray-200);
  font: var(--textSb);
  border-radius: 50px;
  padding: 8px 24px;
  border: none;
}

.buttonImg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
