.wrapper {
  margin: 0 auto;
  width: 1200px;
}
.sectionTitle {
  font: var(--textXlB);
  color: var(--white);
  margin-bottom: 16px;
  margin-top: 80px;
}
.myCard {
  background-color: var(--black300) !important;
}

.outerBox {
  width: 1200px;
  height: 300px;
  border-radius: 4px;
  border: 1px dashed var(--black300);

  margin-bottom: 24px;
}

.selectBox {
  width: 1168px;
  height: 268px;
  border-radius: 4px;
  background-color: var(--black300);
  align-items: center;
  margin: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedBox {
  position: relative;

  width: 1200px;
  height: 300px;
  border-radius: 4px;
  background-color: var(--black300);
  align-items: center;
  margin: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cancelBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  font: var(--text);
  text-align: right;
  color: var(--gray100);
  border: none;
  background: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline solid;
  }
}

.plusImgBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: var(--black300);
  gap: 16px;
  border: none;
}
.plusTxt {
  font: var(--textLM);
  color: var(--white);
}
