.form {
  width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}
.header {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
}
.headerText {
  font: var(--textXlB);
  margin: 12px 0;
  line-height: 100%;
}
.filter {
  width: 264px;
  background-color: #fff;
}
/* tablet */
@media (max-width: 1199px) {
  .form {
    width: 700px;
  }
}

/* Mobile */
@media (max-width: 744px) {
  .form {
    width: 350px;
  }
  .headerText {
    font: var(--textB);
  }
  .filter {
    width: 241px;
  }
}
