// 전체 표 스타일
.table {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 16px;
  position: relative;
  padding-bottom: 16px;
  box-sizing: border-box;

  p {
    display: flex;
    flex-shrink: 0;
    text-align: center;
    line-height: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .ranking {
    flex: 0 0 68px;
    min-width: 68px;
  }

  .description {
    flex: 0 0 304px;
    min-width: 250px;
    max-width: 304px;
  }

  .info {
    flex: 0 0 150px;
    min-width: 100px;
  }

  .investmentAndSelection {
    flex: 0 0 230px;
    min-width: 150px;
  }

  .hidden {
    display: none !important;
  } // 숨김 처리
}

/* 테이블 헤더 스타일 */
.tableHeader {
  display: flex;
  background-color: var(--black100);
  height: 39px;
  border-radius: 4px;
  top: 0;
  z-index: 1;
  margin-bottom: 16px;
  width: 100%;
  align-items: center;

  p {
    font: var(--textSM);
    justify-content: center;
    height: 100%;
  }

  .name {
    flex: 0 0 213px;
    min-width: 150px;
  }
}

/* 테이블 콘텐츠 스타일 */
.tableContents {
  display: flex;
  flex-direction: column;
  width: 100%;

  .tableContent {
    width: 100%;
    display: flex;
    height: auto;
    min-height: 64px;
    color: var(--gray100);
    font: var(--textS);
    border-top: 1px solid var(--gray300);
    background-color: var(--black300) !important;
    align-items: center;

    &:first-child {
      border-top: none;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .description {
      text-align: left;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis; /* 넘칠 경우 '...' 표시 */
      line-height: 1.5;
      align-self: center;
      padding: 0 8px;
      justify-content: flex-start;
      @supports (-webkit-line-clamp: 2) {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .nameWrapper {
      display: flex;
      align-items: center;
      flex: 0 0 213px;
      min-width: 150px;
      padding-left: 24px;
      gap: 8px;
      text-decoration: none; // Link 스타일 제거를 위해
      color: var(--gray100); // Link 스타일 제거를 위해
      height: 100%;

      .image {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        object-fit: cover;
        image-rendering: -webkit-optimize-contrast;
        transform: translateZ(0);
        backface-visibility: hidden;
      }

      .name {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 40px);
        justify-content: flex-start;
      }
    }
  }
}

/* tablet & mobile */
@media (max-width: 1199px) {
  .table {
    .ranking {
      flex: 0 0 64px;
      min-width: 64px;
    }
    .description {
      flex: 0 0 180px;
      min-width: 150px;
    }
    .info {
      flex: 0 0 90px;
      min-width: 80px;
    }
    .investmentAndSelection {
      flex: 0 0 116px;
      min-width: 100px;
    }

    .tableHeader {
      .name {
        flex: 0 0 150px;
        min-width: 120px;
      }
      .investmentAndSelection {
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.1;
        align-self: center;
        @supports (-webkit-line-clamp: 2) {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }

    .tableContent {
      .nameWrapper {
        flex: 0 0 150px;
        min-width: 120px;
      }
    }
  }
}

@media (max-width: 744px) {
  .tableHeaderMT {
    margin-top: 36px;
  }
}

// "나의 기업"에서 선택한 배경색 변경
.tableContent.selectedCompanyColor {
  background-color: var(--gray300) !important;
}
