.homepageForm {
  width: 1200px;
  margin: 0 auto;
}
.homepageHeader {
  margin-top: 40px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;

  h1 {
    font: var(--textXlB);
    line-height: 100%;
    color: var(--white);
    padding: 12px 0;
  }
}
.headerComponents {
  display: flex;
  gap: 1rem;
}

/* tablet */
@media (max-width: 1199px) {
  .homepageForm {
    width: 700px;
  }
}

/* Mobile */
@media (max-width: 744px) {
  .homepageForm {
    width: 350px;
  }
  .homepageHeader {
    flex-direction: column;

    h1 {
      font: var(--textB);
    }
  }
}
