* {
  color: var(--gray100);
  font: var(--textS);
  background-color: var(--black400);
}

.selectbox {
  position: relative;
  padding: 10px;

  width: 168px;
}

.selectbox-button {
  width: 168px;
  height: 48px;
  padding: 9.25px 13.25px;
  border: 1px solid var(--gray200);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.selectbox-button:hover {
  border-color: #fff;
}

.selectbox-options {
  position: absolute;
  width: 100%;
  margin-top: 6px;
  border: 1px solid var(--gray200);
  border-radius: 10px;

  z-index: 100;
  list-style: none;
  padding: 6px 0;
  display: block;
}

.selectbox-option {
  padding: 12px 14px; 
  cursor: pointer;
  border-bottom: 1px solid var(--gray200);
  box-sizing: border-box; /* ✅ 패딩 포함해서 전체 width를 맞춤 */
  font: var(--textXs);  
  width: 100%; /* ✅ 부모(.selectbox-options)에 맞춰서 꽉 채우기 */
  text-align: center;
}

.selectbox-option:last-child {
  border-bottom: none;
}
